<h1>Lista de productos</h1>
<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}}
      <br>{{this.description}} (Stock: {{this.stock}})
    </li>
  {{/each}}
</ul>
